.dbQty {
    min-height: 8vh;
    max-height: 8vh;
    margin: 8px;
}

.dbChart {
    min-height: 38vh;
    max-height: 38vh;
    margin: 8px;
}

.dbEmpList {
    padding-top: 0px;
    min-height: 30vh;
    max-height: 30vh;
    display: flex;
    flex-direction: row;
    margin: 8px;
    .col1 {
        width: 30%;
        padding: 5px;
    }
    .col2 {
        width: 30%;
        padding: 5px;
    }
    .col3 {
        width: 30%;
        padding: 5px;
    }
    .col4 {
        width: 30%;
        padding: 5px;
    }
}
