.chatBox {
  height: calc(100% - 50px);
  overflow: auto;
  padding: 20px;
  padding-bottom: 0;
  height: 40vh;
  border: 2px solid #1976d2;
  overflow-y: auto;
  padding: 10px;
}
.chatBox::-webkit-scrollbar {
  width: 15px;
}
.chatBox::-webkit-scrollbar-track {
  background: rgb(206, 205, 205);
}
.chatBox::-webkit-scrollbar-thumb {
  background: #969696;
}

ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.message-avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin: 10px 10px 0 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.message-bubble {
  max-width: 450px;
  min-width: 300px;
  padding: 15px;
  border-radius: 15px;
  background: #ececec;
}
.message-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.message-username {
  margin-right: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}
.message-role {
  color: #969696;
  font-style: italic;
  margin-right: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}
.message-time {
  font-size: 0.85em;
  text-align: right;
}
.message-content {
  font-style: normal;
}
.message-received .message-bubble {
  border-bottom-left-radius: 0;
}
.message-sent {
  flex-direction: row-reverse;
}
.message-sent .message-bubble {
  background: #579ffb;
  color: #fff;
  border-bottom-right-radius: 0;
}

.message-broadcast {
  margin: auto;
  color: rgba(21, 19, 19, 0.57);
  justify-content: center;
  font-weight: bold;
  background-color: transparent;
  border: none;
}
